/* ROOT */
:root{
  --main-panel-color: #414361;
  --side-panel-color: #2a2d43;
  --main-title-color: #FFF;
  --secondary-title-color: #f2b500;
  --image-border-color: #32365a;
  --paragraph-color: #E0E0E0;
  --link-color: #B39DDB;
}

/* GENERAL */
body{
  color: var(--paragraph-color);
}

h1{
  padding-top: 3rem;
}

h1, span.h1-responsive{
  font-size: 3.25em;
}

h1, span.h1-responsive, h3, h4{
  text-transform: uppercase;
}

h1, span.h1-responsive, h3{
  color: var(--main-title-color);
}

h2, span.h2-responsive{
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

h3, h4{
  font-weight: bold;
}

a{
  color: var(--link-color);
}

a:visited{
  color: var(--link-color);
}

a:hover{
  color: var(--secondary-title-color);
}

a:focus{
  color: var(--secondary-title-color);
}

.side-panel-contact-heading, .main-panel-date{
  font-weight: bold;
}

/* SIDE PANEL */
#side-panel{
  background-color: var(--side-panel-color);
  position: relative;
}

span.h1-responsive, span.h2-responsive{
  display: none;
}

#side-panel img{
  margin: 30px 0;
  max-width: 200px;
  max-height: 200px;
  border: 3px solid var(--image-border-color);
}

#side-panel h3{
  color: var(--side-panel-color);
  background-color: var(--secondary-title-color);
}

#contact div.row:not(:first-child){
  padding: 3rem;
}

.side-panel-contact-heading{
  margin: 5px 0 0 0;
}

#about p{
  margin: 0;
}

#about p:last-child{
  margin: 0 0 80px 0;
}

#hobbies{
  position: absolute;
  bottom: 0;
  width: 100%;
}

#hobbies i{
  border-radius: 50%;
  border: 1px solid var(--paragraph-color);
  padding: 5px;
  width: 55px;
  height: 55px;
  line-height: 45px;
  text-align: center;
}

/* MAIN PANEL */
#main-panel{
  background-color: var(--main-panel-color);
}

.first-name{
  color: var(--secondary-title-color);
  font-weight: bold;
}

h2{
  margin-bottom: 60px;
}

h2, span.h2-responsive{
  position: relative;
}

h2::after, span.h2-responsive::after{
  content: "";
  position: absolute;
  top: 38px;
  left: 2px;
  height: 1px;
  width: 85px;
  background-color: var(--secondary-title-color);
}

.main-panel-title{
  border-bottom: 2px solid var(--secondary-title-color);
}

.main-panel-title i{
  color: var(--secondary-title-color);
}

.fa-dot-circle, .fa-circle{
  color: var(--secondary-title-color);
  vertical-align: top;
  padding-top: 5px;
}

.fa-dot-circle{
  margin-right: 8px;
  font-size: 1.33em;
}

.fa-circle{
  margin-right: 15px;
}

#main-panel article{
  margin-top: 15px;
}

.main-panel-date{
  display: inline-block;
}

.main-panel-recommendations-heading{
  font-weight: bold;
}

#recommendations p{
  margin: 0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
  h1, h2{
    display: none;
  }

  span.h1-responsive, span.h2-responsive{
    display: block;
  }

  #about{
    margin-bottom: 225px;
  }

  #recommendations .col-md-6{
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 576px) {
  span.h1-responsive{
    font-size: 2.2em;
  }

  h3{
    font-size: 1.15rem;
  }

  h4{
    font-size: 1.05rem;
  }

  #contact div.row:not(:first-child){
    padding: 2rem;
  }
}
